In [ ]:
import os
from urllib import request

if not os.path.exists("data/raw/Taxi_Trips_-_2014.csv"):
    request.urlretrieve("https://data.cityofchicago.org/api/views/66as-63gf/rows.csv?accessType=DOWNLOAD", "data/raw/Taxi_Trips_-_2014.csv")

In [23]:
import zipfile_deflate64 as zipfile

with zipfile.ZipFile(r"data\raw\Taxi_Trips_-_2014.zip", 'r') as zip_ref:
    print(zip_ref.filelist)

    zip_ref.extract("Taxi_Trips_-_2014.csv")

ModuleNotFoundError: No module named 'zipfile_deflate64'

# PANDAS

In [1]:
%%time

import pandas as pd

df = pd.read_csv(r"data\raw\Taxi_Trips_-_2014.csv")

<timed exec>:3: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.

CPU times: total: 5min 36s
Wall time: 13min 17s

In [2]:
%%time

df.head(2)

CPU times: total: 0 ns
Wall time: 31.2 ms

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,506646dd0685bd55094f1b7dfac97cf3b07b6126,1099c684f9da1ac1d0dd253d394f1c8dad37bc1a53d944...,05/17/2014 10:45:00 AM,05/17/2014 11:00:00 AM,1080.0,7.0,1.703128e+10,1.703106e+10,28.0,6.0,...,1.5,18.95,Cash,Taxi Affiliation Services,41.879255,-87.642649,POINT (-87.642648998 41.8792550844),41.949140,-87.656804,POINT (-87.6568039088 41.9491397709)
1,1462669f59c3b5a1730e8a5f511a4102d1998c21,379e0fd9da136cabc9eec3aca37047bbdee373ca2ef7a0...,04/17/2014 06:30:00 PM,04/17/2014 07:00:00 PM,1080.0,3.0,NaN,1.703184e+10,NaN,34.0,...,1.0,12.45,Cash,Taxi Affiliation Services,NaN,NaN,NaN,41.851018,-87.635092,POINT (-87.6350918563 41.8510178239)

In [3]:
%%time

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37395436 entries, 0 to 37395435
Data columns (total 23 columns):
 #   Column                      Dtype
---  ------                      -----
 0   Trip ID                     object
 1   Taxi ID                     object
 2   Trip Start Timestamp        object
 3   Trip End Timestamp          object
 4   Trip Seconds                float64
 5   Trip Miles                  float64
 6   Pickup Census Tract         float64
 7   Dropoff Census Tract        float64
 8   Pickup Community Area       float64
 9   Dropoff Community Area      float64
 10  Fare                        float64
 11  Tips                        float64
 12  Tolls                       float64
 13  Extras                      float64
 14  Trip Total                  float64
 15  Payment Type                object
 16  Company                     object
 17  Pickup Centroid Latitude    float64
 18  Pickup Centroid Longitude   float64
 19  Pickup Centroid Location    object
 20  Dropoff Centroid Latitude   float64
 21  Dropoff Centroid Longitude  float64
 22  Dropoff Centroid  Location  object
dtypes: float64(15), object(8)
memory usage: 6.4+ GB
CPU times: total: 15.6 ms
Wall time: 82.3 ms

In [21]:
%%time

df.to_feather("data/trips/trips.feather")

In [22]:
%%time

df_2 = pd.read_feather("data/trips/trips.feather")

In [26]:
df_2.orderby().head(2)

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,506646dd0685bd55094f1b7dfac97cf3b07b6126,1099c684f9da1ac1d0dd253d394f1c8dad37bc1a53d944...,05/17/2014 10:45:00 AM,05/17/2014 11:00:00 AM,1080.0,7.0,1.703128e+10,1.703106e+10,28.0,6.0,...,1.5,18.95,Cash,Taxi Affiliation Services,41.879255,-87.642649,POINT (-87.642648998 41.8792550844),41.949140,-87.656804,POINT (-87.6568039088 41.9491397709)
1,1462669f59c3b5a1730e8a5f511a4102d1998c21,379e0fd9da136cabc9eec3aca37047bbdee373ca2ef7a0...,04/17/2014 06:30:00 PM,04/17/2014 07:00:00 PM,1080.0,3.0,NaN,1.703184e+10,NaN,34.0,...,1.0,12.45,Cash,Taxi Affiliation Services,NaN,NaN,None,41.851018,-87.635092,POINT (-87.6350918563 41.8510178239)

# DASK

In [4]:
%%time

import dask.dataframe as dd

dask_data=dd.read_csv(r"data\raw\Taxi_Trips_-_2014.csv", assume_missing=True)

CPU times: total: 1.92 s
Wall time: 2.65 s

In [5]:
%%time

dask_data.head(2)

CPU times: total: 2 s
Wall time: 3.47 s

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Extras,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,506646dd0685bd55094f1b7dfac97cf3b07b6126,1099c684f9da1ac1d0dd253d394f1c8dad37bc1a53d944...,05/17/2014 10:45:00 AM,05/17/2014 11:00:00 AM,1080.0,7.0,1.703128e+10,1.703106e+10,28.0,6.0,...,1.5,18.95,Cash,Taxi Affiliation Services,41.879255,-87.642649,POINT (-87.642648998 41.8792550844),41.949140,-87.656804,POINT (-87.6568039088 41.9491397709)
1,1462669f59c3b5a1730e8a5f511a4102d1998c21,379e0fd9da136cabc9eec3aca37047bbdee373ca2ef7a0...,04/17/2014 06:30:00 PM,04/17/2014 07:00:00 PM,1080.0,3.0,NaN,1.703184e+10,NaN,34.0,...,1.0,12.45,Cash,Taxi Affiliation Services,NaN,NaN,NaN,41.851018,-87.635092,POINT (-87.6350918563 41.8510178239)

In [12]:
dask_data.info()

<class 'dask.dataframe.core.DataFrame'>
Columns: 23 entries, Trip ID to Dropoff Centroid  Location
dtypes: object(8), float64(15)

In [6]:
dask_data[dask_data['Trip Miles'] > 1.0]#.compute()

Dask DataFrame Structure:
                Trip ID Taxi ID Trip Start Timestamp Trip End Timestamp Trip Seconds Trip Miles Pickup Census Tract Dropoff Census Tract Pickup Community Area Dropoff Community Area     Fare     Tips    Tolls   Extras Trip Total Payment Type Company Pickup Centroid Latitude Pickup Centroid Longitude Pickup Centroid Location Dropoff Centroid Latitude Dropoff Centroid Longitude Dropoff Centroid  Location
npartitions=237
                 object  object               object             object      float64    float64             float64              float64               float64                float64  float64  float64  float64  float64    float64       object  object                  float64                   float64                   object                   float64                    float64                     object
                    ...     ...                  ...                ...          ...        ...                 ...                  ...                   ...                    ...      ...      ...      ...      ...        ...          ...     ...                      ...                       ...                      ...                       ...                        ...                        ...
...                 ...     ...                  ...                ...          ...        ...                 ...                  ...                   ...                    ...      ...      ...      ...      ...        ...          ...     ...                      ...                       ...                      ...                       ...                        ...                        ...
                    ...     ...                  ...                ...          ...        ...                 ...                  ...                   ...                    ...      ...      ...      ...      ...        ...          ...     ...                      ...                       ...                      ...                       ...                        ...                        ...
                    ...     ...                  ...                ...          ...        ...                 ...                  ...                   ...                    ...      ...      ...      ...      ...        ...          ...     ...                      ...                       ...                      ...                       ...                        ...                        ...
Dask Name: getitem, 4 graph layers

# VAEX
https://vaex.io/docs/index.html

Letztendlich konzentriert sich Dask stärker skalierbare Berechnungen auf Rechenclustern, während es Vaex ermöglicht, mit großen Datensätzen auf einem einzigen Rechner zu arbeiten. Vaex bietet außerdem Funktionen zur einfachen Visualisierung und Darstellung großer Datensätze, während sich Dask mehr auf Datenverarbeitung und Data Wrangling konzentriert. (https://www.datarevenue.com/de-blog/pandas-skalieren-ein-vergleich-von-dask-ray-modin-vaex-und-rapids#:~:text=Vaex%2C%20ermöglicht%20mit%20großen%20Datenmengen,diese%20möglichst%20effizient%20nutzen%20möchte.)

https://towardsdatascience.com/beyond-pandas-spark-dask-vaex-and-other-big-data-technologies-battling-head-to-head-a453a1f8cc13