# Weather Data Preparation

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

https://www.wunderground.com/history/daily/us/il/chicago/KMDW/date/2017-8-4

In [2]:
# read data
df = pd.read_csv('data/raw/weather_hourly.csv', index_col=0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10334 entries, 0 to 10333
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Time            10334 non-null  object
 1   Temperature     10334 non-null  object
 2   Dew Point       10334 non-null  object
 3   Humidity        10334 non-null  object
 4   Wind            10332 non-null  object
 5   Wind Speed      10334 non-null  object
 6   Wind Gust       10334 non-null  object
 7   Pressure        10334 non-null  object
 8   Precip.         10334 non-null  object
 9   Condition       10334 non-null  object
 10  date            10334 non-null  object
 11  boolean_column  10334 non-null  bool
dtypes: bool(1), object(11)
memory usage: 978.9+ KB

In [12]:
# reduce dataframe to important columns
df.drop(['Dew Point', 'Wind', 'Wind Gust', 'Pressure', 'boolean_column'], axis=1, inplace=True)

In [7]:
df['Time'].unique()

array(['12:51 AM', '1:36 AM', '1:51 AM', '2:51 AM', '3:51 AM', '4:36 AM',
       '4:51 AM', '5:51 AM', '6:51 AM', '7:51 AM', '8:51 AM', '9:51 AM',
       '9:57 AM', '10:07 AM', '10:12 AM', '10:44 AM', '10:49 AM',
       '10:51 AM', '10:58 AM', '11:09 AM', '11:51 AM', '12:51 PM',
       '1:34 PM', '1:51 PM', '2:14 PM', '2:51 PM', '3:06 PM', '3:43 PM',
       '3:51 PM', '4:00 PM', '4:51 PM', '5:09 PM', '5:19 PM', '5:33 PM',
       '5:51 PM', '6:51 PM', '7:06 PM', '7:51 PM', '8:06 PM', '8:30 PM',
       '8:51 PM', '9:20 PM', '9:43 PM', '9:51 PM', '10:51 PM', '11:51 PM',
       '1:44 AM', '3:13 AM', '4:39 AM', '5:47 AM', '6:04 AM', '6:18 AM',
       '7:25 AM', '7:49 AM', '8:16 AM', '8:28 AM', '9:09 AM', '9:21 AM',
       '10:17 AM', '11:30 AM', '1:25 PM', '2:34 PM', '3:53 PM', '4:04 PM',
       '4:30 PM', '5:04 PM', '5:07 PM', '6:14 PM', '6:23 PM', '6:48 PM',
       '7:34 PM', '8:10 PM', '8:32 PM', '8:41 PM', '10:05 PM', '10:49 PM',
       '5:05 AM', '5:15 AM', '5:30 AM', '6:16 AM', '6:35 AM', '5:29 PM',
       '5:32 PM', '5:42 PM', '6:08 PM', '6:21 PM', '6:32 PM', '6:39 PM',
       '7:05 PM', '7:48 PM', '8:07 PM', '8:39 PM', '8:45 PM', '9:15 PM',
       '9:23 PM', '9:31 PM', '10:03 PM', '11:06 PM', '11:21 PM',
       '11:49 PM', '10:30 AM', '12:43 PM', '5:06 AM', '11:22 AM',
       '12:10 PM', '1:02 PM', '2:21 PM', '3:21 PM', '4:18 PM', '4:34 PM',
       '6:12 PM', '10:39 PM', '12:42 AM', '1:14 AM', '1:29 AM', '1:45 AM',
       '1:46 AM', '2:00 AM', '3:09 AM', '4:24 AM', '6:58 AM', '12:32 PM',
       '3:38 PM', '5:36 AM', '12:53 AM', '1:53 AM', '2:53 AM', '3:41 AM',
       '3:53 AM', '4:53 AM', '5:53 AM', '6:53 AM', '7:53 AM', '8:53 AM',
       '9:53 AM', '10:53 AM', '11:53 AM', '12:53 PM', '1:53 PM',
       '2:53 PM', '4:53 PM', '5:53 PM', '6:53 PM', '7:53 PM', '8:53 PM',
       '9:53 PM', '10:53 PM', '11:53 PM', '2:12 AM', '4:58 AM', '6:21 AM',
       '8:39 AM', '9:03 AM', '10:37 AM', '11:27 AM', '11:38 AM',
       '12:13 PM', '12:34 PM', '1:16 PM', '1:46 PM', '1:47 PM', '1:55 PM',
       '2:04 PM', '2:11 PM', '2:32 PM', '2:47 PM', '2:55 PM', '4:20 PM',
       '4:31 PM', '4:43 PM', '5:16 PM', '5:45 PM', '6:06 AM', '6:37 AM',
       '1:31 AM', '3:08 AM', '3:26 AM', '4:20 AM', '5:29 AM', '6:08 AM',
       '4:19 PM', '1:12 AM', '4:32 AM', '11:04 AM', '2:07 PM', '3:47 PM',
       '7:08 AM', '8:37 AM', '11:59 AM', '12:08 PM', '12:26 PM',
       '2:42 PM', '4:17 PM', '5:18 PM', '5:38 PM', '6:42 PM', '7:42 PM',
       '8:15 PM', '8:22 PM', '10:34 PM', '11:35 PM', '6:44 AM', '9:49 PM',
       '9:54 PM', '10:21 PM', '11:17 PM', '5:44 PM', '6:09 PM', '7:10 PM',
       '11:25 PM', '7:30 AM', '8:25 AM', '10:40 AM', '11:07 AM',
       '1:39 PM', '2:06 AM', '3:05 AM', '5:07 AM', '5:39 AM', '5:43 AM',
       '8:47 AM', '8:58 AM', '5:48 PM', '6:15 PM', '10:29 PM', '11:37 PM',
       '1:42 AM', '12:20 AM', '12:36 AM', '12:46 AM', '1:27 AM',
       '2:17 AM', '4:13 AM', '4:42 AM', '6:42 AM', '7:13 AM', '8:20 AM',
       '2:24 PM', '4:24 PM', '1:19 AM', '1:21 PM', '4:26 PM', '5:37 PM',
       '5:41 PM', '6:17 PM', '6:33 PM', '7:00 PM', '8:25 PM', '8:40 PM',
       '10:07 PM', '10:35 PM', '10:59 PM', '6:26 PM', '6:34 PM',
       '6:41 PM', '7:12 PM', '8:05 PM', '8:19 PM', '9:42 PM', '10:31 PM',
       '11:13 PM', '11:43 PM', '4:21 AM', '7:02 AM', '7:19 AM', '7:42 AM',
       '8:05 AM', '9:24 AM', '10:11 AM', '10:34 AM', '11:26 AM',
       '9:44 AM', '10:19 AM', '12:42 PM', '1:20 PM', '3:20 PM', '3:49 PM',
       '5:43 PM', '6:43 PM', '9:30 PM', '9:40 PM', '9:58 PM', '10:11 PM',
       '10:24 PM', '10:40 PM', '11:03 PM', '11:22 PM', '9:35 AM',
       '10:22 AM', '11:49 AM', '12:30 PM', '8:17 AM', '11:06 AM',
       '2:30 PM', '7:46 AM', '10:29 AM', '11:15 AM', '10:41 PM',
       '1:01 AM', '1:24 AM', '1:43 AM', '2:03 AM', '2:44 AM', '3:11 AM',
       '3:21 AM', '5:16 AM', '5:31 AM', '6:12 AM', '8:14 AM', '9:37 AM',
       '10:23 AM', '11:17 AM', '12:09 PM', '3:34 PM', '4:25 PM',
       '4:45 PM', '9:25 PM', '9:55 PM', '2:25 AM', '2:42 AM', '3:06 AM',
       '3:39 AM', '4:41 AM', '9:19 AM', '10:10 AM', '10:18 AM',
       '10:21 AM', '10:32 AM', '11:03 AM', '11:35 AM', '11:47 AM',
       '12:00 PM', '12:18 PM', '1:45 PM', '2:12 PM', '3:29 PM', '4:44 PM',
       '5:02 PM', '7:16 PM', '7:49 PM', '3:29 AM', '4:12 AM', '4:37 AM',
       '6:46 AM', '7:20 AM', '7:39 AM', '7:48 AM', '8:09 AM', '8:21 AM',
       '9:06 AM', '9:20 AM', '10:33 AM', '10:48 AM', '1:42 PM', '2:46 PM',
       '4:36 PM', '5:13 PM', '6:00 AM', '6:28 AM', '12:33 AM', '12:44 AM',
       '1:25 AM', '5:11 AM', '6:31 AM', '7:28 AM', '8:15 AM', '9:39 AM',
       '10:05 AM', '10:42 AM', '11:37 AM', '3:24 PM', '3:59 PM',
       '4:39 PM', '4:56 PM', '5:11 PM', '5:23 PM', '5:35 PM', '5:49 PM',
       '2:39 AM', '6:36 AM', '8:31 AM', '1:05 PM', '11:04 PM', '4:04 AM',
       '6:25 PM', '2:13 AM', '3:28 AM', '4:28 AM', '5:45 AM', '6:43 AM',
       '1:43 PM', '2:08 AM', '7:34 AM', '8:46 AM', '9:31 AM', '3:31 PM',
       '1:55 AM', '6:14 AM', '9:30 AM', '11:39 AM', '1:28 PM', '1:38 PM',
       '1:59 PM', '2:16 PM', '2:35 PM', '3:02 PM', '3:09 PM', '4:27 PM',
       '5:10 PM', '6:16 PM', '7:09 PM', '11:29 PM', '2:19 AM', '5:28 AM',
       '6:13 AM', '7:03 AM', '7:26 AM', '8:10 AM', '8:27 AM', '9:17 AM',
       '9:36 AM', '9:58 AM', '2:49 PM', '8:42 PM', '9:16 PM', '8:08 AM',
       '8:11 AM', '8:36 AM', '9:32 AM', '12:04 PM', '5:20 AM', '6:29 AM',
       '6:26 AM', '8:24 AM', '8:45 AM', '9:28 AM', '8:43 AM', '9:42 AM',
       '10:26 AM', '2:00 PM', '5:17 PM', '6:13 PM', '2:09 PM', '3:37 PM',
       '4:12 PM', '8:24 PM', '8:43 PM', '12:41 PM', '1:13 AM', '4:08 AM',
       '5:01 AM', '5:09 AM', '5:18 AM', '5:34 AM', '7:55 AM', '8:03 AM',
       '8:22 AM', '8:34 AM', '11:13 AM', '11:21 AM', '8:01 AM', '9:08 AM',
       '1:37 PM', '4:15 PM', '6:22 AM', '9:12 AM', '10:20 AM', '10:36 AM',
       '11:16 AM', '1:18 PM', '2:41 PM', '3:26 PM', '3:35 PM', '4:02 PM',
       '6:24 PM', '2:58 PM', '3:13 PM', '6:03 PM', '6:27 PM', '8:28 PM',
       '9:11 PM', '9:21 PM', '5:03 AM', '5:12 AM', '5:21 AM', '5:32 AM',
       '6:05 AM', '9:16 AM', '9:25 AM', '1:22 PM', '2:23 PM', '7:25 PM',
       '1:26 AM', '1:37 AM', '6:32 AM', '7:14 AM', '7:31 AM', '11:23 AM',
       '10:00 PM', '11:00 PM', '5:03 PM', '6:07 PM', '6:10 PM', '6:19 PM',
       '7:08 PM', '5:24 AM', '6:30 AM', '1:23 PM', '3:28 PM', '8:11 PM',
       '11:14 PM', '1:10 AM', '1:28 AM', '7:23 AM', '1:13 PM', '11:16 PM',
       '9:45 AM', '10:24 AM', '12:28 PM', '8:35 PM', '6:27 AM', '3:37 AM',
       '11:20 AM', '11:55 PM', '12:14 AM', '12:43 AM', '2:38 AM',
       '5:14 AM', '6:17 AM', '1:03 PM', '6:29 PM', '6:58 PM', '11:10 PM',
       '12:06 AM', '12:27 AM', '1:32 AM', '4:05 AM', '4:11 AM', '6:48 AM',
       '7:04 AM', '7:10 AM', '7:40 AM', '8:00 AM', '8:32 AM', '8:42 AM',
       '9:11 AM', '9:15 AM', '9:18 AM', '10:00 AM', '10:16 AM',
       '11:10 AM', '11:32 AM', '1:04 PM', '9:14 PM', '11:39 PM',
       '2:46 AM', '3:42 AM', '3:48 AM', '6:38 AM', '1:34 AM', '5:37 AM',
       '5:49 AM', '7:21 AM', '9:05 AM', '11:42 AM', '12:21 PM',
       '12:39 PM', '1:35 PM', '4:29 PM', '9:07 PM', '9:59 PM', '11:48 PM',
       '10:38 PM', '10:27 AM', '10:43 AM', '2:03 PM', '9:02 PM',
       '7:15 PM', '1:33 PM', '2:26 PM', '5:26 PM', '11:40 PM', '1:41 PM',
       '4:21 PM', '4:55 PM', '6:36 PM', '7:27 PM', '8:13 PM', '12:09 AM',
       '12:26 AM', '2:33 AM', '4:27 AM', '5:25 AM', '1:26 PM', '12:08 AM',
       '2:05 AM', '6:19 AM', '8:18 AM', '6:40 AM', '8:33 AM', '9:43 AM',
       '11:34 AM', '12:38 PM', '3:11 PM', '4:38 PM', '9:34 PM', '9:44 PM',
       '10:17 PM', '10:19 PM', '10:47 PM', '8:16 PM', '2:28 AM',
       '3:34 AM', '7:38 AM', '9:48 AM', '6:37 PM', '11:43 AM', '12:19 PM',
       '12:29 PM', '2:08 PM', '10:16 PM', '4:40 AM', '1:08 AM', '1:40 AM',
       '4:18 AM', '5:41 AM', '7:36 AM', '5:46 PM', '6:46 PM', '8:02 PM',
       '8:57 PM', '9:24 PM', '9:32 PM', '11:11 PM', '12:40 PM',
       '12:44 PM', '12:47 AM', '2:16 AM', '4:34 AM', '4:56 AM', '5:10 AM',
       '6:07 AM', '9:38 AM', '1:58 PM', '2:31 PM', '2:44 PM', '3:42 PM',
       '5:15 PM', '6:02 PM', '7:41 PM', '8:12 PM', '11:19 PM', '3:18 PM',
       '7:30 PM', '11:44 PM', '3:27 AM', '4:43 AM', '1:14 PM', '9:08 PM',
       '9:22 PM', '9:29 PM', '9:45 PM', '10:09 PM', '9:26 PM', '10:48 PM',
       '11:15 PM', '3:07 AM', '3:39 PM', '7:04 PM', '5:23 AM', '11:05 AM',
       '1:50 PM', '3:40 PM', '4:42 PM', '7:33 PM', '2:15 AM', '7:31 PM',
       '8:14 PM', '9:41 PM', '1:11 PM', '2:19 PM', '3:19 PM', '6:06 PM',
       '8:29 AM', '1:16 AM', '9:46 AM', '12:11 AM', '12:25 AM', '5:04 AM',
       '6:11 AM', '12:36 PM', '7:20 PM', '9:46 PM', '6:45 AM', '2:10 PM',
       '9:07 AM', '12:12 PM', '5:25 PM', '8:01 PM', '10:41 AM', '1:09 PM',
       '1:12 PM', '3:30 PM', '4:13 PM', '4:49 PM', '6:18 PM', '7:18 PM',
       '7:43 PM', '8:04 PM', '10:04 PM', '7:47 AM', '4:46 PM', '5:34 PM',
       '4:00 AM', '2:15 PM', '4:14 PM', '5:36 PM', '9:27 PM', '8:29 PM',
       '10:23 PM', '10:08 PM', '12:35 PM', '1:19 PM', '1:36 PM',
       '2:33 PM', '3:16 PM', '3:55 PM', '5:14 PM', '7:32 PM', '7:40 PM',
       '7:46 PM', '9:17 PM', '11:12 PM', '5:22 AM', '5:46 AM', '10:36 PM',
       '11:28 AM', '12:06 PM', '7:17 PM', '8:17 PM', '8:31 PM',
       '10:32 PM', '11:09 PM', '11:38 PM', '2:10 AM', '4:16 AM',
       '11:11 AM', '12:17 PM', '3:10 PM', '5:30 PM', '1:06 AM', '2:09 AM',
       '9:35 PM', '6:41 AM', '6:56 AM', '12:34 AM', '6:34 AM', '7:15 AM',
       '2:13 PM', '1:17 AM', '3:17 AM', '4:15 AM', '5:35 AM', '5:44 AM',
       '8:13 AM', '8:38 AM', '8:34 PM', '9:39 PM', '11:01 AM', '12:20 PM',
       '12:27 PM', '10:43 PM', '11:26 PM', '11:30 PM', '7:17 AM',
       '7:37 AM', '12:45 PM', '1:57 PM', '5:27 PM', '7:13 PM', '7:39 PM',
       '7:35 AM', '7:44 AM', '7:38 PM', '9:28 PM', '12:13 AM', '1:11 AM',
       '2:36 AM', '4:06 AM', '11:28 PM', '2:25 PM', '2:22 AM', '6:10 AM',
       '8:19 AM', '9:13 AM', '11:41 AM', '2:57 PM', '3:17 PM', '7:22 PM',
       '10:28 PM', '10:42 PM', '2:11 AM', '3:32 AM', '6:25 AM', '5:59 PM',
       '6:30 PM', '8:48 AM', '4:09 PM', '12:41 AM', '12:58 AM', '7:29 PM',
       '10:39 AM', '11:44 AM', '4:33 PM', '9:38 PM', '12:59 PM',
       '1:15 PM', '3:12 PM', '4:22 PM', '5:24 PM', '2:45 AM', '12:19 AM',
       '2:34 AM', '3:01 AM', '3:18 AM', '11:31 PM', '1:39 AM', '2:02 AM',
       '2:58 AM', '4:19 AM', '5:26 AM', '12:05 PM', '12:37 PM', '1:49 PM',
       '2:40 PM', '3:27 PM', '9:13 PM', '11:18 PM', '8:07 AM', '12:03 AM',
       '12:32 AM', '4:26 AM', '6:01 AM', '7:06 AM', '2:43 PM', '3:23 PM',
       '4:10 PM', '3:16 AM', '3:35 AM', '9:22 AM', '11:46 AM', '8:23 PM',
       '10:30 PM', '8:06 AM', '8:35 AM', '7:01 PM', '7:37 PM', '3:10 AM',
       '9:34 AM', '11:18 AM', '11:29 AM', '1:30 PM', '4:32 PM', '9:14 AM',
       '1:20 AM', '3:23 AM', '4:44 AM', '7:43 AM', '2:31 AM', '2:35 AM',
       '3:00 AM', '5:42 AM', '5:57 AM', '3:15 AM', '3:22 AM', '4:59 AM',
       '10:06 AM', '3:08 PM', '10:33 PM', '12:15 AM', '9:01 AM',
       '12:58 PM', '2:37 PM', '6:39 AM', '11:24 AM', '2:26 AM', '3:57 AM',
       '4:01 AM', '2:20 PM', '7:55 PM', '8:36 PM', '9:01 PM', '9:09 PM',
       '9:19 PM', '5:22 PM', '6:38 PM', '7:29 AM', '6:20 PM', '5:13 AM',
       '1:40 PM', '4:02 AM', '4:09 AM', '6:02 AM', '10:08 AM', '11:25 AM',
       '1:24 PM', '3:22 PM', '11:33 PM', '8:38 PM', '9:00 PM', '7:16 AM',
       '7:32 AM', '10:27 PM', '12:16 AM', '8:04 AM', '10:01 AM',
       '3:38 AM', '1:44 PM', '6:23 AM', '5:47 PM', '10:15 PM', '1:03 AM',
       '1:38 AM', '1:49 AM', '9:27 AM', '7:44 PM', '8:21 PM', '11:00 AM',
       '12:22 PM', '1:27 PM', '2:29 PM', '12:30 AM', '4:30 AM', '5:06 PM',
       '5:40 AM', '7:35 PM', '1:18 AM', '7:33 AM', '3:31 AM', '5:02 AM',
       '11:08 PM', '2:27 PM', '8:49 AM', '9:50 AM', '3:32 PM', '3:45 PM',
       '10:56 AM', '1:56 PM', '4:28 PM', '2:32 AM', '3:43 AM', '8:30 AM',
       '7:21 PM', '7:26 PM', '7:45 PM', '9:04 PM', '9:10 AM', '7:09 AM',
       '8:12 AM', '3:00 PM', '6:22 PM', '4:41 PM', '10:12 PM', '11:02 PM',
       '3:25 AM', '3:33 PM', '4:37 PM', '4:40 PM', '6:55 PM', '7:03 PM'],
      dtype=object)

In [14]:
# clear units + convert formats 
df['Temperature'] = df['Temperature'].str.replace(r'°F', '').astype(int)
df['Humidity'] = df['Humidity'].str.replace(r'°%', '').astype(int)
df['Wind Speed'] = df['Wind Speed'].str.replace(r'°mph', '').astype(int)
df['Precip.'] = df['Precip.'].str.replace(r'°in', '')
df['Precip.'] = df['Precip.'].str.split().str.join(' ').astype(float)

### create datetime column

In [15]:
# convert raw data to datetime format 
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%d_%m').replace(year=2014).date()) # date column 
df['Time'] = df['Time'].apply(lambda x: pd.to_datetime(x, format="%I:%M %p").time()) # time column 

# merge column date and time to datetime and drop unused columns
df['datetime'] = df.apply(lambda x: datetime.combine(x['date'], x['Time']), axis=1)
df.drop(['date', 'Time'], axis=1, inplace=True)

# set index
df = df.set_index('datetime')

### categorize and encode conditions

In [17]:
# inspect categorical values
df['Condition'].value_counts() 

# subtract 'windy' from string in 'condition' as information is covered by wind speed column
df['cond_new'] = df['Condition'].str.replace(' / Windy', '')

# TODO check if needed 
# check precip vs rain feature  -> precip column does not capture occurence of rain like condition column
#len(df[(df["Precip."] >= 0.01)]) 
#len(df.where[df['Condition' == 'Rain'] & df['Condition' == 'Light Rain']])

# simplify conditions by merging similar categories 
df['cond_new'] = df['cond_new'].str.replace('Snow and Sleet', 'Snow').replace('Rain and Snow', 'Snow').replace('Light Snow', 'Snow') # simplify 'Light Snow' + 'Snow and Sleet' + 'Rain and Snow' to 'Snow' 
df['cond_new'] = df['cond_new'].str.replace('Haze', 'Fog').replace('Patches of Fog', 'Fog') # simplify 'haze' and 'patches of fog' to fog
df['cond_new'] = df['cond_new'].str.replace('Light Rain with Thunder', 'Thunder') # simplify 'Light Rain with Thunder' to 'Thunder'
df['cond_new'] = df['cond_new'].str.replace('Heavy T-Storm', 'T-Storm') # simplify 'Heavy T-Storm' to 'T-Storm'

# ordinal encoding of features rain + clouds 
df['cloud'] = df['cond_new'].replace('Cloudy', 3).replace('Mostly Cloudy', 2).replace('Partly Cloudy', 1).apply(pd.to_numeric, errors='coerce') # ordinal encoding of clouds
df['rain'] = df['cond_new'].replace('Heavy Rain', 4).replace('Rain', 3).replace('Light Rain', 2).replace('Light Drizzle', 1).apply(pd.to_numeric, errors='coerce') # ordinal encoding of rain
df[['cloud', 'rain']] = df[['cloud', 'rain']].fillna(0) 

# one hot encoding of nominal features
nominal_features = df['cond_new'].replace(dict.fromkeys(['Cloudy','Mostly Cloudy','Partly Cloudy','Heavy Rain', 'Rain', 'Light Rain', 'Light Drizzle'], np.nan)) # subtract ordinal features
one_hot = pd.get_dummies(nominal_features) # one-hot encoding 
df = df.join(one_hot) # join encoded variables 
df.drop(['Condition', 'cond_new'], axis=1, inplace=True) # drop unused column

### resample hourly

In [19]:
# number of observations in raw dataset and of expected hourly observations compared
print('number of actual observations: ' + str(len(df)))
print('number of expected obersavtions: ' + str(365*24))

number of actual observations: 10344
number of expected obersavtions: 8760

In [21]:
# resample hourly 
df = df.resample('H').last()
df.dtypes # check new dtypes
# TODO convert dtypes

Temperature    float64
Humidity       float64
Wind Speed     float64
Precip.        float64
cloud          float64
rain           float64
Fair           float64
Fog            float64
Snow           float64
T-Storm        float64
Thunder        float64
dtype: object

In [22]:
# check for NaN
df[df.isna().any(axis=1)]

#interpolate metric values and temperature 
df[['Temperature', 'Humidity', 'Wind Speed', 'Precip.']] = df[['Temperature', 'Humidity', 'Wind Speed', 'Precip.']].interpolate(method='linear', axis=0)
df[['Temperature', 'Humidity', 'Wind Speed']] = df[['Temperature', 'Humidity', 'Wind Speed']].round(decimals=0)
df['Precip.'] = df['Precip.'].round(decimals=1)

# interpolate binary + ordinal features 
df[['cloud', 'rain', 'Fair', 'Fog', 'Snow', 'T-Storm', 'Thunder']] = df[['cloud', 'rain', 'Fair', 'Fog', 'Snow', 'T-Storm', 'Thunder']].interpolate(method='pad', axis=0)


df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [Temperature, Humidity, Wind Speed, Precip., cloud, rain, Fair, Fog, Snow, T-Storm, Thunder]
Index: []

In [23]:
# convert fahrenheit to celsius
def celsius(x):
    x = (x-32)*5/9
    return float(x)

df['Temperature'] = df['Temperature'].apply(celsius).round(decimals=1)

In [24]:
#convert miles per hour to kilometers per hour
def kmh(x):
    x = x * 1.609
    return float(x)

df['Wind Speed'] = df['Wind Speed'].apply(kmh).round(decimals = 2)

In [25]:
#convert inches to centimeters
def mm(x):
    x = x * 25.4
    return float(x)

df['Precip.'] = df['Precip.'].apply(mm).round(decimals = 2)

In [26]:
#TODO normalize data 
df

,Temperature,Humidity,Wind Speed,Precip.,cloud,rain,Fair,Fog,Snow,T-Storm,Thunder
datetime,,,,,,,,,,,
2014-01-01 00:00:00,-10.0,84.0,11.26,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-01-01 01:00:00,-8.9,84.0,9.65,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-01-01 02:00:00,-8.3,84.0,11.26,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-01-01 03:00:00,-7.8,84.0,11.26,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
2014-01-01 04:00:00,-7.2,85.0,9.65,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2014-12-31 19:00:00,-7.2,47.0,32.18,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2014-12-31 20:00:00,-7.2,50.0,25.74,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2014-12-31 21:00:00,-6.7,48.0,27.35,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2014-12-31 22:00:00,-6.7,46.0,33.79,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2014-12-31 23:00:00,-6.7,46.0,33.79,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [27]:
df.describe()

,Temperature,Humidity,Wind Speed,Precip.,cloud,rain,Fair,Fog,Snow,T-Storm,Thunder
count,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000,8760.000000
mean,9.857169,66.552169,16.369316,0.092785,1.596918,0.100000,0.216096,0.012215,0.021575,0.002283,0.005251
std,12.508246,16.208322,8.378385,0.942619,1.239994,0.436177,0.411604,0.109849,0.145301,0.047730,0.072278
min,-25.600000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,55.000000,11.260000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,11.100000,68.000000,14.480000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,20.600000,79.000000,20.920000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,33.900000,100.000000,59.530000,27.940000,3.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [28]:
df.to_pickle("data/weather_data_hourly_1.pickle")

### Create matching aggregations for resolutions of 4h and 6h

### Aggregations:

- Temperature: mean
- Humidity: mean
- Wind Speed: mean
- Precip.: mean
- cloud: 1 if it was party cloudy, 2 if mostly cloudy and 3 if cloudy the majority of the hours, else 0
- rain: 1 if it drizzled lightly, 2 if it rained lightly, 2 if it rained and 3 if it rained heavy the majority of hours, else 0
- Fair: 1 if it there was Fair during the majority of hours, else 0
- Fog: 1 if it there was Fog during the majority of hours, else 0
- Snow: 1 if it there was Snow during the majority of hours, else 0
- T-Storm: 1 if it there was thunder storm during the majority of hours, else 0
- Thunder: 1 if it there was thunder during the majority of hours, else 0

In [29]:
def map_values(mean_var):
    if 0.5 < mean_var < 1.5:
        return 1
    elif 1.5 < mean_var < 2.5:
        return 2
    elif 2.5 < mean_var < 3.5:
        return 3
    else:
        return 0

In [48]:
def aggregate_weather_data(df, time_interval):
    # Calculate the estimated resolution based on the time_interval
    resolution = time_interval
    # Resample the data based on the calculated resolution
    aggregated_df = df.resample(f'{resolution}H').mean()
    

    aggregated_df['cloud'] = aggregated_df['cloud'].apply(map_values)
    aggregated_df['rain'] = aggregated_df['rain'].apply(map_values)
    aggregated_df['Fair'] = aggregated_df['Fair'].apply(map_values)
    aggregated_df['Fog'] = aggregated_df['Fog'].apply(map_values)
    aggregated_df['Snow'] = aggregated_df['Snow'].apply(map_values)
    aggregated_df['T-Storm'] = aggregated_df['T-Storm'].apply(map_values)
    aggregated_df['Thunder'] = aggregated_df['Thunder'].apply(map_values)
    return aggregated_df

In [33]:
def calculate_resolution(df, time_interval):
    mean_time_difference = df.index.to_series().diff().mean().seconds
    total_seconds = time_interval.total_seconds()
    estimated_rows_per_interval = total_seconds / mean_time_difference
    return int(estimated_rows_per_interval)

In [47]:
resolution_4_hours = calculate_resolution(df, time_interval=pd.Timedelta(hours=4))
resolution_6_hours = calculate_resolution(df, time_interval=pd.Timedelta(hours=6))
resolution_24_hours = calculate_resolution(df, time_interval=pd.Timedelta(hours=24))

resolution_4_hours

4

In [49]:
#Export weather data in different time_intervals (4,6,24)

weather_data_hourly_4 = aggregate_weather_data(df, time_interval= resolution_4_hours)
weather_data_hourly_4.to_pickle("data/weather_data_hourly_4.pickle")

weather_data_hourly_6 = aggregate_weather_data(df, time_interval= resolution_6_hours)
weather_data_hourly_6.to_pickle("data/weather_data_hourly_6.pickle")

weather_data_hourly_24 = aggregate_weather_data(df, time_interval = resolution_24_hours)
weather_data_hourly_24.to_pickle("data/weather_data_hourly_24.pickle")