In [61]:
import vaex
import pandas as pd
import numpy as np
import geopandas as gp

In [62]:
timeB = 4
resolution = 7
hdf = vaex.open("data/trips/trips_grouped_" + str(timeB) + "h_r" + str(resolution) + ".hdf5")
df = hdf.to_pandas_df()

In [63]:
df.head(3)

,start_day,start_month,start_weekday,start_weekday_sin,start_weekday_cos,ts_start_4_hour,start_4_hour,start_4_hour_sin,start_4_hour_cos,pickup_hex_7,...,Trip Total,Company_encoded,Taxi ID_encoded,Payment Type_Dispute,Payment Type_Unknown,Payment Type_Prcard,Payment Type_Cash,Payment Type_Credit Card,Payment Type_Pcard,Payment Type_No Charge
0,2014-06-22,6,6,-0.781831,0.623490,2014-06-22 08:00:00,8,0.866025,-0.5,872c21191ffffff,...,14.024395,21,906,0,0,0,1137,465,0,2
1,2014-04-29,4,1,0.781831,0.623490,2014-04-29 04:00:00,4,-0.866025,-0.5,872c21014ffffff,...,18.623750,9,37,0,0,0,33,4,0,3
2,2014-04-18,4,4,-0.433884,-0.900969,2014-04-18 08:00:00,8,0.866025,-0.5,872c2119cffffff,...,12.019427,24,2092,2,10,1,4062,1678,1,20

In [64]:
df.columns

Index(['start_day', 'start_month', 'start_weekday', 'start_weekday_sin',
       'start_weekday_cos', 'ts_start_4_hour', 'start_4_hour',
       'start_4_hour_sin', 'start_4_hour_cos', 'pickup_hex_7', 'demand',
       'Trip Seconds', 'Trip Miles', 'Fare', 'Tips', 'Tolls', 'Extras',
       'Trip Total', 'Company_encoded', 'Taxi ID_encoded',
       'Payment Type_Dispute', 'Payment Type_Unknown', 'Payment Type_Prcard',
       'Payment Type_Cash', 'Payment Type_Credit Card', 'Payment Type_Pcard',
       'Payment Type_No Charge'],
      dtype='object')

In [65]:
# Columns to group by
gbColumns = ["start_month", "start_weekday", "start_4_hour", "pickup_hex_7"]

# All interesing columns
iColumns = ["demand"] + gbColumns

# Select interesting columns
sdf = df[iColumns]

In [66]:
# Removing Rides without a Hexagon/ Start-Location
sdf = sdf[(sdf["pickup_hex_7"].notna()) & (sdf["pickup_hex_7"] != "None")]

In [67]:
# Ob das überhaupt richtig ist?!?
# Ich denke hier müsste doch mean hin, weil count ergibt ja keinen sinn. dann würden wir über verschiedene wochen hinweg addieren
# Wenn wir die Variable Week noch hinzufügen oder Dayofmonth dann müssten wir meines Verständnisses nach gar nicht groupen oder?
gsdf = sdf.groupby(gbColumns).mean().reset_index()

In [69]:
gsdf

       start_month  start_weekday  start_4_hour     pickup_hex_7      demand
0                1              0             0  872c21002ffffff   80.000000
1                1              0             0  872c21010ffffff  346.000000
2                1              0             0  872c21011ffffff    3.666667
3                1              0             0  872c21014ffffff   35.500000
4                1              0             0  872c21015ffffff   87.750000
...            ...            ...           ...              ...         ...
12669           12              6            20  872c21cd2ffffff    1.000000
12670           12              6            20  872c21cd3ffffff    2.000000
12671           12              6            20  872c21cd8ffffff  299.500000
12672           12              6            20  872c21cd9ffffff  172.500000
12673           12              6            20  872c21cdeffffff    4.750000

[12674 rows x 5 columns]